.advantages {
  position: relative;
  display: flex;
  padding-right: 50px;

  &__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    width: 51%;
    overflow: hidden;
  }

  &__image {
    position: relative;
    max-width: 270px;
    max-height: 300px;

    transition: transform $transition-time-long;

    &:hover {
      transform: scale(1.1) rotate(65.1deg) translateX(100px);
    }

    &:nth-child(1) {
      top: -45px;
      left: -40px;
      z-index: 6;
    }

    &:nth-child(2) {
      top: -115px;
      left: -40px;
      z-index: 5;
    }

    &:nth-child(3) {
      top: -40px;
      left: -150px;
      z-index: 4;
    }

    &:nth-child(4) {
      top: -110px;
      left: -140px;
      z-index: 3;
    }

    &:nth-child(5) {
      top: -130px;
      left: 50px;
      z-index: 2;
    }

    &:nth-child(6) {
      top: -190px;
      left: -10px;
      z-index: 1;
    }

    &:nth-child(1):hover,
    &:nth-child(2):hover {
      transform: scale(1.1) rotate(45.1deg) translateX(100px);
    }

    &:nth-child(3):hover,
    &:nth-child(4):hover {
      transform: scale(1.1) rotate(0deg) translateX(100px);

    }

    &:nth-child(5):hover,
    &:nth-child(6):hover {
      transform: scale(1.1) rotate(25deg) translateX(100px) translateY(-100px);

    }
  }

  &__content {
    position: relative;
    top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 49%;
  }

  &__features {
    display: grid;
    grid-gap: 40px 45px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    margin-bottom: 61px;
  }

  &__heading {
    position: relative;
    color: $heading-color;

    &::after {
      content: "";
      display: block;

      position: absolute;
      top: 15px;
      left: -17px;

      width: 7px;
      height: 7px;

      background: $middle-text-color;
      transform: rotate(-45deg);
    }
  }

  &__text {
    color: $side-text-color;
  }

  &__btn {
    width: 238px;
    padding: 15px 62px;
    margin-bottom: 70px;

    font-size: 14px;
    line-height: 150%;

    text-transform: uppercase;

    color: $button-color;
    border: 1px solid $turquoise-color;
    transition: background-color $transition-time;

    &:hover {
      background-color: $yellow-color;
    }
  }

  &__promotion {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
  }

  &__discount {
    margin-bottom: 5px;

    font-size: 36px;
    line-height: 150%;

    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: $red-color;
  }

  &__condition {
    font-size: 24px;
    line-height: 1;

    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: $turquoise-color;
  }

  &__right-text {
    position: absolute;
    top: 5%;
    right: 0;

    font-size: 12px;
    line-height: 1.5;
    color: $side-text-color;
    letter-spacing: 0.22em;

    transform: rotate(90deg);

    &::before {
      content: "";
      position: absolute;
      right: 75px;
      bottom: 9px;
      display: block;

      width: 65px;
      height: 1px;
      background-color: $side-text-color;
    }
  }

  @media screen and (max-width: $second-break-point) {
    padding: 100px 35px;
    &__gallery {
      display: none;
    }

    &__content {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      width: 100%;
    }

    &__features {
      width: 50%;
      padding-left: 15px;
      margin-right: 25px;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__promotion {
      margin-left: 0;
    }

    &__btn {
      margin-bottom: 33px;
    }
  }
  @media screen and (max-width: $fourth-break-point) {
    &__btn:hover {
      background-color: inherit;
      border: 1px solid $turquoise-color;
    }
  }

  @media screen and (max-width: $sixth-break-point) {
    &__heading {
      font-size: 32px;
    }

    &__content {
      flex-direction: column;
    }

    &__features {
      justify-items: center;
      width: 100%;
      padding-left: 0;
    }

    &__feature {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__condition {
      margin-bottom: 50px;
    }
  }

  @media screen and (max-width: $seventh-break-point) {
    padding: 30px 35px;

    &__content {
      top: 0;
    }

    &__features {
      justify-items: flex-start;
    }

    &__feature {
      align-items: flex-start;
    }

    &__right-text {
      display: none;
    }

    &__btn {
      background: $yellow-color;
      border: none;
    }
  }
}
