@import "utils";

.customers {

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__section--1 {
    flex-direction: row;
    margin-bottom: 80px;
  }

  &__section--2,
  &__section--3 {
    max-width: 500px;
  }

  &__section--2 {
    align-items: center;

    margin-right: 200px;
    padding: 100px;
  }

  &__section--3 {
    align-items: center;
    max-width: 500px;
  }

  &__img {
    object-fit: cover;
  }

  &__img--1 {
    width: 500px;
    height: 500px;
  }

  &__img--2 {
    width: 300px;
    height: 417px;

    margin-bottom: 40px;
  }

  &__img--3 {
    width: 470px;
    height: 670px;

    margin-bottom: 40px;
  }

  &__title {
    color: $heading-color;

    margin-bottom: 45px;
  }

  &__description {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 470px;
  }

  &__description--3 {
    align-self: flex-end;
  }

  &__notification {
    position: relative;
    color: $heading-color;

    margin-bottom: 39px;

    &::after {
      content: "*";
      position: absolute;
      top: -8px;
      left: -40px;
      display: block;

      font-size: 36px;
      width: 36px;
      height: 35px;
    }
  }

  &__notification--2 {
    margin-bottom: 119px;
  }

  &__subtitle {
    position: relative;
  }

  &__slogan {
    position: relative;
    max-width: 350px;

    margin-bottom: 11px;

    &::before {
      content: "";
      position: absolute;
      bottom: 5px;
      right: 95px;
      display: block;

      width: 1px;
      height: 47px;
      background-color: $heading-color;

      transform: rotate(22deg);
    }
  }

  &__number {
    position: absolute;
    top: 0;
    left: -68px;
    font-size: 36px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -10px;
      display: block;

      width: 1px;
      height: 47px;
      background-color: $heading-color;

      transform: rotate(22deg);
    }
  }

  &__number--2 {
    position: absolute;
    top: -70px;
    left: 20px;
  }

  &__number--3 {
    left: -100px;
  }

  &__text {
    position: relative;
    max-width: 350px;
  }

  &__side-text {
    position: absolute;
    top: 5%;
    right: -83px;

    font-size: 12px;
    line-height: 1;
    color: $side-text-color;
    letter-spacing: 0.22em;

    transform: rotate(90deg);

    &::before {
      content: "";
      position: absolute;
      bottom: 8px;
      right: 70px;
      display: block;

      width: 65px;
      height: 1px;
      background-color: $side-text-color;
    }
  }

  @media screen and (max-width: $first-break-point) {

    &__container {
      flex-direction: column;
    }

    &__section--2,
    &__section--3 {
      max-width: 100%;
      justify-content: space-between;
    }

    &__section--2 {
      flex-direction: row-reverse;
      margin: 0;
      padding: 0;
    }

    &__section--3 {
      flex-direction: row;
    }

    &__img--2 {
      width: 300px;
      height: 417px;

      margin-bottom: 0;
    }
  }

  @media screen and (max-width: $second-break-point) {

    &__img--1 {
      width: $customers-img-middle-size;
      height: $customers-img-middle-size;
    }
  }

  @media screen and (max-width: $third-break-point) {

    &__slogan {
      max-width: 255px;

      &::before {
        right: 140px;
      }
    }

    &__text {
      max-width: 255px;
    }

    &__number {
      left: -38px;
    }

    &__number--2 {
      left: 20px;
    }

    &__side-text {
      right: -50px;
    }
  }

  @media screen and (max-width: $fourth-break-point) {

    &__side-text {
      right: -30px;
    }
  }

  @media screen and (max-width: $fifth-break-point) {

    &__side-text {
      display: none;
    }
  }

  @media screen and (max-width: $sixth-break-point) {

    &__container {
      flex-direction: column;
    }

    &__section--1 {
      justify-content: center;
    }

    &__img,
    &__notification,
    &__slogan::before {
      display: none;
    }

    &__number {
      top: -50px;
      left: 15px;
    }
  }
}
