.footer {
  display: flex;
  flex-direction: column;

  max-width: 1600px;
  margin: 0 auto;
  padding: 35px 74px;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__address,
  &__about-us {
    display: flex;
    flex-direction: column;
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    width: 230px;
  }

  &__social-link {
    transition: transform $transition-time;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__info {
    max-width: 160px;
    font-family: $main-font;
    font-size: 16px;
    color: #000;

    &:hover {
      text-decoration: underline;
    }
  }

  &__logo {
    align-self: center;
    cursor: pointer;
  }

  &__mobile-text {
    display: none;
  }

  @media screen and (max-width: $fifth-break-point) {
    align-items: center;
    padding: 70px 35px;

    &__content {
      margin-bottom: 41px;
    }

    &__address,
    &__about-us {
      display: none;
    }

    &__logo {
      margin-bottom: 15px;
    }

    &__mobile-text {
      display: block;
    }
  }
}
