@import "utils";

.header {
  position: relative;

  max-width: $desktop-width;
  margin: 0 auto;

  &::after {
    content: "";
    display: block;
    width: 75%;
    height: 100%;
    position: absolute;
    bottom: 59%;
    left: 0;
    z-index: -1;

    background-color: $yellow-light-color;

    transform: skewY(-20deg);
  }

  &__burger-btn {
    display: none;

    position: absolute;
    top: 0;
    right: 5px;
    width: $burger-size;
    height: $burger-size;

    border: none;
    background-color: transparent;
    background-image: url(../images/icons/mobile-menu/burger-menu.svg);
  }

  &__mob-menu {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: $mob-menu-width;

    height: 100vh;

    display: flex;

    background-color: $turquoise-color;
    color: $mobile-menu-text;

    transform: translateX(500%);
    transition: transform $transition-time;
  }

  &__top-menu {
    max-width: 870px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 90px;
  }

  &__logo-link {
    display: block;
    height: 36px;
  }

  &__logo {
    width: 133px;
    height: 36px;
  }

  &__basket {
    position: absolute;
    top: 0;
    right: 0;

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      right: 0;

      display: block;

      width: $basket-icon-size;
      height: $basket-icon-size;

      background: url(../images/icons/basket.svg) center no-repeat;
    }
  }

  &__middle {
    position: relative;
    display: flex;

    max-width: $desktop-width - 135px;
    margin-bottom: 150px;
  }

  &__description {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    width: 550px;
  }

  &__headline {
    max-width: 422px;
  }

  &__opacity-text {
    color: transparent;
    -webkit-text-stroke-color: $turquoise-color;
    -webkit-text-stroke-width: 0.1mm;
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    width: $header-img-desktop-size;
    height: $header-img-desktop-size;
  }

  &__price {
    width: 150px;

    margin-bottom: 44px;
  }

  &__amount {
    position: relative;

    font-family: $main-font;
    font-size: 26px;
    line-height: 32px;
    font-weight: bold;
    color: $heading-color;
  }

  &__promotion {
    font-family: $main-font;
    font-size: 14px;
    color: $middle-text-color;
  }

  &__link {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: block;

    font-family: $main-font;
    font-size: 12px;
    color: $turquoise-color;
    writing-mode: vertical-rl;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      bottom: -55px;
      right: calc(50% - 5px);

      display: block;

      width: 9px;
      height: 44px;

      background: url(../images/header/long-arrow.svg) center no-repeat;
    }
  }

  @media screen and (max-width: $second-break-point) {
    &__top-menu {
      max-width: 600px;
    }

    &__description {
      max-width: 422px;
    }
  }

  @media screen and (max-width: $third-break-point) {
    &__img {
      width: $header-img-ipad-size;
      height: $header-img-ipad-size;
    }

    &__price {
      margin-right: 60px;
    }
  }

  @media screen and (max-width: $fourth-break-point) {
    &__burger-btn {
      display: block;
    }

    &__basket,
    &__nav {
      display: none;
    }
  }

  @media screen and (max-width: $fifth-break-point) {
    &__top-menu {
      margin-bottom: 360px;
    }

    &__img {
      top: -345px;
      right: calc(50% - 169px);
    }

    &__description {
      margin: 0;
      align-items: flex-start;
    }

    &__middle {
      margin-bottom: 50px;
    }

    &__link {
      left: 95%;
      bottom: 20px;
    }

    &__headline {
      margin-bottom: 21px;
    }

    &__amount {
      margin-bottom: 3px;
    }

    &__price {
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: $seventh-break-point) {
    &::after {
      background-color: transparent;
    }
  }
}
