.mob-menu {
  font-family: $main-font;
  padding: 50px;

  &__list {
    margin: auto;
    width: 240px;
  }

  &__item {
    position: relative;
    padding: 20px;
  }

  &__item:not(:last-child) {
    margin-bottom: 5px;
  }

  &__item:first-child {

    &::after,
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 22px;
      height: 22px;
    }

    &::after {

      top: 15%;
      right: 37%;

      background-color: $red-color;
      border-radius: 50%;
    }

    &::before {
      content: "0";
      z-index: 2;
      top: 14%;
      right: 84px;
    }
  }

  &__link {
    display: block;

    font-size: 32px;
  }

  &__close-wrapper {
    display: flex;
    flex-direction: column;

    position: absolute;
    bottom: 8%;
    right: 50px;
  }

  &__close {
    transform: rotate(-90deg);

    margin-bottom: 90px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: -55px;
      width: 44px;
      height: 1px;

      background-color: $white;
    }
  }

  &__close-btn {
    align-self: center;
    background-image: url(../images/icons/mobile-menu/x.svg);
    width: 16px;
    height: 16px;
  }

  @media screen and (max-width: $sixth-break-point) {

    &__link {
      font-size: 24px;
    }

    &__item:first-child::before {
      right: 80px;
    }
  }
}
