.mob-menu {
  font-family: $main-font;

  &__list {
    margin: auto;
    width: 240px;
  }

  &__item {
    position: relative;
    padding: 20px;
  }

  &__item:not(:last-child) {
    margin-bottom: 5px;
  }

  &__item:first-child {

    &::after,
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 22px;
      height: 22px;
    }

    &::after {

      top: 15%;
      right: 37%;

      background-color: $red-color;
      border-radius: 50%;
    }

    &::before {
      content: "0";
      z-index: 2;
      top: 14%;
      right: 84px;
    }
  }

  &__link {
    display: block;

    font-size: 32px;
  }

  @media screen and (max-width: 500px) {

    &__link {
      font-size: 24px;
    }

  }
}
