.nav {
  @extend %p;

  &__link {

    &:after {
      display: block;
      content: "";
      border-bottom: solid 3px #019fb6;
      transform: scaleX(0);
      transition: transform $transition-time ease-in-out;
      transform-origin: 0% 50%;
    }

    &:hover:after {
      transform: scaleX(1);
    }
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 64px;
  }

  @media screen and  (max-width: $second-break-point) {
    &__item:not(:last-child) {
      margin-right: 25px;
    }
  }
}
