.size {
  padding: 100px 135px;

  &__heading {
    margin-bottom: 56px;

    font-size: 36px;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #000;
  }

  &__container {
    display: grid;
    grid-template-areas: "text numbers image image"
      "text numbers image image"
      "reference reference image image";
  }

  &__text {
    position: relative;
    grid-area: text;
    width: 90%;

    &::after {
      content: "";
      display: block;

      position: absolute;
      top: 0;
      right: -5%;

      width: 1px;
      height: 100%;

      background-color: #d8d8d8;
    }
  }

  &__numbers {
    grid-area: numbers;
    display: flex;
    flex-direction: column;

    width: 90%;
    margin-bottom: 25px;
  }

  &__reference {
    grid-area: reference;
    position: relative;

    &::after {
      content: "*";
      display: block;

      position: absolute;
      top: 0;
      left: -8px;
    }
  }

  &__illustrations {
    max-width: 100%;
    max-height: 100%;
  }

  &__image-wrapper {
    grid-area: image;
    display: flex;
    margin: auto;
  }

  @media screen and (max-width: $second-break-point) {
    padding: 100px 35px;

    &__container {
      grid-template-areas: "text text"
        "numbers image"
        "numbers image"
        "reference reference";
    }

    &__text {
      width: 90%;
      margin-bottom: 18px;

      &::after {
        display: none;
      }
    }

    &__image-wrapper {
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width: $fifth-break-point) {
    padding: 70px 35px;
    
    &__container {
      grid-template-areas: "text"
        "image"
        "numbers"
        "reference";
    }

    &__heading,
    &__text {
      margin-bottom: 30px;
    }

    &__image-wrapper,
    &__numbers {
      margin-bottom: 40px;
    }
  }
}

.quality {
  &__heading {
    margin-bottom: 15px;
  }

  &:first-child {
    margin-bottom: 69px;
  }

  &__highlight {
    font-weight: bold;
  }

  @media screen and (max-width: $fifth-break-point) {
    &:first-child {
      margin-bottom: 40px;
    }
  }
}
