//global styles
@import "utils";
@import "typography";
@import "reset";

//header
@import "header";
@import "nav";
@import "button";
@import "mob-menu";

//main
@import "customers";
@import "container";
@import "features";
@import "team";
@import "materials";
@import "size";
@import "advantages";

html {
  font-family: "Bebas Neue", cursive, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $small-text-color;

  scroll-behavior: smooth;
}

body {
  background: $mobile-menu-text;
}

.main {
  max-width: $desktop-width;
  margin: 0 auto;
}

button {
  background-color: transparent;
  border: none;
}
