// fonts
$main-font: "Montserrat", sans-serif;
$title-font: "Bebas Neue", cursive, sans-serif;

//color
$mobile-menu-text: #f8f8f8;
$small-text-color: #000;
$price-color: #333;
$middle-text-color: #4f4f4f;
$turquoise-color: #03839e;
$yellow-color: #ffe339;
$yellow-light-color: #ffec7a;
$grey-color: #b3b3b3;
$grey-light-color: #f8f8f8;
$red-color: #eb5757;
$button-color: #121212;

//size
$desktop-width: 1440px;
$basket-icon-size: 30px;
$header-img-desktop-size: 500px;
$header-img-ipad-size: 320px;
$arrow-width: 25px;
$burger-size: 32px;
$mob-menu-width: 70%;
$mob-menu-number-width: 13px;
